.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }

  button {
    margin-top: 10px;
    background-color: forestgreen;
    color:white;
  }


@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }